/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

.merriweather-font {
  font-family: 'Merriweather', serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
