<h2>Wikipedia Search</h2>
<input type="text" [formControl]="searchInput" placeholder="Input here..." class="search-input" />

@if (isLoading){
<div class="loader">Loading...</div>
} @if (searchResults$ | async; as searchResults) {
<ul class="results-list">
  @for (result of searchResults; track result.pageid) {
  <li class="result-item">
    <h3 class="result-title">{{ result.title }}</h3>
    <p class="result-snippet" [innerHTML]="result.snippet"></p>
  </li>
  } @empty { @if (searchInput.value) {
  <li class="result-item">No results found.</li>
  } }
</ul>
}
